<p>
  <b>Item type:</b>
  <%=h @item_subtype.item_type_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @item_subtype.name %>
</p>

<p>
  <b>Refill Day:</b>
  <%=h @item_subtype.refill_day %>
</p>

<p>
  <b>Refill Week:</b>
  <%=h @item_subtype.refill_week %>
</p>

<p>
  <b>Refill Month:</b>
  <%=h @item_subtype.refill_month %>
</p>

<p>
  <b>Refill Year:</b>
  <%=h @item_subtype.refill_year %>
</p>

<p>
  <b>Hpt Day:</b>
  <%=h @item_subtype.hpt_day %>
</p>

<p>
  <b>Hpt Week:</b>
  <%=h @item_subtype.hpt_week %>
</p>

<p>
  <b>Hpt month:</b>
  <%=h @item_subtype.hpt_month %>
</p>

<p>
  <b>Hpt period:</b>
  <%=h @item_subtype.hpt_year %>
</p>


<%= link_to 'Edit', edit_item_subtype_path(@item_subtype) %> |
<%= link_to 'Back', item_subtypes_path %>
