<h1>Editing item_subtype</h1>

<% form_for(@item_subtype) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_type_id %><br />
    <%= f.text_field :item_type_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
    <%= f.label :refill_day %> : &nbsp;&nbsp;
	<%= f.text_field :refill_day, :size =>'4' %>&nbsp;&nbsp;
    <%= f.label :refill_week %> : &nbsp;&nbsp;
    <%= f.text_field :refill_week, :size =>'4'%>&nbsp;&nbsp;
    <%= f.label :refill_month %> : &nbsp;&nbsp;
    <%= f.text_field :refill_month, :size =>'4' %>&nbsp;&nbsp;
    <%= f.label :refill_year %> : &nbsp;&nbsp;
    <%= f.text_field :refill_year, :size =>'4' %>&nbsp;&nbsp;
  </p>
  <p>
    <%= f.label :hpt_day %> : &nbsp;&nbsp;&nbsp;
    <%= f.text_field :hpt_day, :size =>'4' %>&nbsp;&nbsp;
    <%= f.label :hpt_week %> : &nbsp;&nbsp;&nbsp;
    <%= f.text_field :hpt_week, :size =>'4' %>&nbsp;&nbsp;
    <%= f.label :hpt_month %> : &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :hpt_month, :size =>'4' %>&nbsp;&nbsp;
    <%= f.label :hpt_year %> : &nbsp;&nbsp;&nbsp;&nbsp;
	<%= f.text_field :hpt_year, :size =>'4' %>&nbsp;&nbsp;
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @item_subtype %> |
<%= link_to 'Back', item_subtypes_path %>
