<h1>Editing inspection_period</h1>

<% form_for(@inspection_period) do |f| %>
  <%= f.error_messages %>

     <p>
    <%= f.label :item_Subtype_name %>
    <%= f.collection_select :item_subtype_id, ItemSubtype.find(:all), :id, :name %>
  </p>
    <p>
    <%= f.label :company_name %>
    <%= f.collection_select :company_id, Company.find(:all), :id, :name %>
  </p>
  <p>
    <%= f.label :days %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label :weeks %><br />
    <%= f.text_field :weeks %>
  </p>
  <p>
    <%= f.label :months %><br />
    <%= f.text_field :months %>
  </p>
  <p>
    <%= f.label :years %><br />
    <%= f.text_field :years %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inspection_period %> |
<%= link_to 'Back', inspection_periods_path %>
