<h1>New refill_history</h1>

<% form_for(@refill_history) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :item_subtype_id %><br />
    <%= f.text_field :item_subtype_id %>
  </p>
  <p>
    <%= f.label :date_of_refill %><br />
    <%= f.datetime_select :date_of_refill %>
  </p>
  <p>
    <%= f.label :remark %><br />
    <%= f.text_field :remark %>
  </p>
  <p>
    <%= f.label :done_by %><br />
    <%= f.text_field :done_by %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', refill_histories_path %>
